attrs==21.4.0
click==8.0.1
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
psycopg2-binary==2.9.1
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
SQLAlchemy==1.4.25
tomli==2.0.1
Werkzeug==2.0.1