/* poetry app styling */


/* ============ base.html / app-wide ============ */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: url(/static/imgs/olga-thelavart-vS3idIiYxX0-unsplash.png);
    font-family: 'Lora', serif;
    }

h3 {
    font-style: italic;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

.purple {
    background-color: #af9bff60;
}

.purple-2 {
    background-color: #e3dcff;
}

.purple-3 {
    border-color: #7d5cff99;
}

.btn {
    box-shadow: 3px 3px 3px #7d5cff50;
}

.q {
    box-shadow: none;
}

.alt-btn {
    border-color: #e3dcff;
}

.accordion-button {
    background-color: #e3dcff;
}

#front-page-forms {
    justify-content: space-around;
}

.page-header {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
    background-color: #af9bff60;
}

.form-border {
    display: inline-block;
    margin: 2em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
    background-color: #af9bff60;
}

#flash-hole {
    margin-top: 2em;
    padding: 0.5em 1em;
    border: 1px dotted black;
    border-radius: 7px;
    background-color: rgba(255,0,0,0.2);
    vertical-align: center;
}

/* ============ poems.html ============ */

#optional-inputs-menu {
    border: 1px solid gainsboro;
    border-radius: 7px;
    box-shadow: 3px 3px 3px #7d5cff50;

}

/* ============ savedmashup.html ============ */

.line-text {
    color: black;
    text-decoration: none;
}

.line-text:hover{
    color: #7d5cff;
    text-decoration: dashed;
}

.hover-info {
    display: none;
  }
  
 .line-text:hover + .hover-info {
    display: inline;
    background-color: #7d5cff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }

/* ============ public shared items routes ============ */

#public-responses-header {
    margin: 2em;
}

#public-mashups-header {
    margin: 2em;
}

.responseCard {
    display: inline-block;
    margin: 1em 2em 1em 2em;
    padding: 0.5em 1em;
    border: 2px solid #dcdcdc;
    border-radius: 7px;
}

.mashupCard {
    display: inline-block;
    margin: 1em 0em 1em 1em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
}

/* ============ user profile jsx ============ */

#PoemCards {
    align-items: center;
    justify-content: space-around;
}

.saved-poem-card {
    display: inline-block;
    padding: 1em 1em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    margin: 1em;
}

#PromptCards {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.prompt-card {
    display: inline-block;
    padding: 1em 1em;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-color: rgba(220,220,220,.5);
    margin: 1em;
}

.view-prompt {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
}

#MashupCards {
    align-items: center;
    /* justify-content: space-around; */
}

.mashup-card {
    display: inline-block;
    padding: 1em 1em;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: rgba(220,220,220,.5);
    margin: 1em;
}

.view-mashup {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
}

.mashup-form {
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: .75em;
}

#inputs-body {
    border: 1px solid gainsboro;
    border-top: 0px solid gainsboro;
    border-radius: 0px 0px 5px 5px;
}





