/* poetry app styling */


/* ============ base.html ============ */

body {
    background-image: url(/static/imgs/olga-thelavart-vS3idIiYxX0-unsplash.jpg);
    /* font-family: ; */
    }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

.purple {
    background-color: #af9bff60;
}

.purple-2 {
    background-color: #e3dcff;
}

.accordion-button {
    background-color: #e3dcff;
}

#front-page-forms {
    justify-content: space-around;
}

.page-header {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
    background-color: #af9bff60;
}

.form-border {
    display: inline-block;
    margin: 2em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
    background-color: #af9bff60;
}

/* ============ poems.html ============ */

#poem-hole {
    font-family: EBGaramond;
    src: url("C:\Users\juned\AppData\Local\Microsoft\Windows\Fonts\EBGaramond-VariableFont_wght.ttf") format("woff2-variations");
}

#optional-inputs-menu {
    /* display: inline-block; */
    border: 1px solid gainsboro;
    border-radius: 7px;
}

/* ============ public shared items routes ============ */

#public-responses-header {
    margin: 2em;
}

#public-mashups-header {
    margin: 2em;
}

.responseCard {
    display: inline-block;
    margin: 1em 2em 1em 2em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
}

.mashupCard {
    display: inline-block;
    margin: 1em 2em 1em 2em;
    padding: 0.5em 1em;
    border: 2px solid gainsboro;
    border-radius: 7px;
}

/* ============ user profile jsx ============ */

#PoemCards {
    align-items: center;
    justify-content: space-around;
}

.saved-poem-card {
    /* border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em; */
    display: inline-block;
    padding: 1em 1em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    margin: 1em;
}

#PromptCards {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.prompt-card {
    display: inline-block;
    padding: 1em 1em;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-color: rgba(220,220,220,.5);
    margin: 1em;
}

.view-prompt {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
}

#MashupCards {
    align-items: center;
    justify-content: space-around;
}

.mashup-card {
    display: inline-block;
    padding: 1em 1em;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: rgba(220,220,220,.5);
    margin: 1em;
}

.view-mashup {
    /* border: 1px solid gainsboro; */
    /* border-radius: 5px;
    padding: 1em;
    margin-top: 1em; */
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
}

#inputs-body {
    border: 1px solid gainsboro;
    border-top: 0px solid gainsboro;
    border-radius: 0px 0px 5px 5px;
}





