{% extends 'base.html' %}

{% block title %}Add a Prompt{% endblock %}

{% block body %}

<div class="container">
    <div class="row page-header">
        <h1>Add a new Prompt</h1>
    </div>
    
    <div class="row">
        <div class="col-8">
            <label for="text-box-for-adding-a-new-prompt-to-the-database">Add a new prompt to the database to inspire other users!</label>
        </div>
        <div class="col-3 offset-1">
            <button type="button" class="btn btn-outline-secondary purple-2 alt-btn" id="save-prompt-btn">Save Prompt</button>
        </div>
    </div><br>
    <div class="row">
        <textarea class="form-control" id="user-prompt-add" name="user-prompt-add" rows="5"></textarea>
    </div>
</div>

<script src="static/add-prompt.js"></script>
{% endblock %}