<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}big title time{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <!-- <style>
        body {
            background-image: url(static/imgs/olga-thelavart-vS3idIiYxX0-unsplash.jpg);

        } -->
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm purple">
        <div class="container-fluid" id="nav-bar">
            <a class="navbar-brand" href="#">Poetry Toolkit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">            
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/poems">Poems</a>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prompts</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/prompts">Prompts</a></li>
                            <li><a class="dropdown-item" href="/add-prompt">Add Prompt</a></li>
                            <li><a class="dropdown-item" href="/search-responses">Public User Responses</a></li>
                        </ul>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mashups</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/mashups">Mashups</a></li>
                            <li><a class="dropdown-item" href="/search-mashups">Public User Mashups</a></li>
                        </ul>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/userprofile">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
              </div>
        
        </div>
    </nav>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    {% block body %}here goes the webpage :3{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>