{% extends 'base.html' %}

{% block title %}Deactivate{% endblock %}

{% block body %}

<div class="container">
    <div>
        <p>
            Are you sure you want to deactivate your account?
        </p>
    </div>
    <div id="deact-form" class="col-6 offset-2">
        <form action="/deactivate-account" method="POST">
            <div>
                <label for="enter-your-email">Enter your email: </label><br>
                <input type="email" name="user-email">
            </div>
            <div>
                <label for="enter-your-password">Enter your password: </label><br>
                <input type="password" name="password1">
            </div>
            <div>
                <label for="confirm-your-password">Confirm your password: </label><br>
                <input type="password" name="password2">
            </div>
            <br><button type="submit" class="btn btn-outline-danger">Deactivate</button>
        </form>
    </div>
</div>

{% endblock %}