{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container page-header">
    <h1>Poetry Toolkit</h1>
    <h4>Tools for dorks</h4>
</div>

<div class="container d-flex flex-wrap" id="front-page-forms">
    <div class="row">
        <div class="col-md-5 offset-1 col-auto form-border">
            <form class="row g-1" action="/login" id="login" method="POST">
                <h4>Log in to Your Account</h4>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="email" id="login-enter-email" placeholder="Email"></input>  
                        <label for="login-enter-email" class="form-label">Email</label> 
                    </div> 
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" name="password" id="login-enter-password" placeholder="Password"></input>
                        <label for="login-enter-password" class="form-label">Password</label>
                    </div>
                <button type="submit" class="btn btn-outline-secondary">Sign In</button>
            </form>
        </div>
        <div class="col-md-5 offset-1 col-auto form-border">
            <form action="/sign-up" class="row g-1" id="sign-up" method="POST">
                <h4>Create an Account</h4>
                <div class="form-floating mb-1">
                    <input class="form-control" type="email" name="email" id="sign-up-enter-email" placeholder="Email"></input>
                    <label for="sign-up-enter-email" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-1">
                    <input class="form-control" type="text" name="username" id="sign-up-enter-username" placeholder="Username"></input>
                    <label for="sign-up-enter-username" class="form-label">Username</label>    
                </div>
                <div class="form-floating mb-1">
                    <input class="form-control" type="password" name="password1" id="sign-up-enter-password" placeholder="Password"></input>
                    <label for="sign-up-enter-password" class="form-label">Password</label>
                </div>
                <div class="form-floating mb-1">
                    <input class="form-control" type="password" name="password2" id="sign-up-confirm-password" placeholder="Confirm Password"></input>
                    <label for="sign-up-confirm-password" class="form-label">Confirm Password</label>
                </div>
                <button class="btn btn-outline-secondary" type="submit">Create Account</button>
            </form>
        </div>
    </div>  
</div>
{% endblock %}