{% extends 'base.html' %}

{% block title %}Mashup{% endblock %}

{% block body %}

<div class="container">
    <br><div class="row">
        <div class="col-8">
            <label for="poem-title">
                <div id="mashup-title">
                    <h1>Mashup Generator!</h1>
                </div>
            </label>
            <label for="author-name">
                <div id="mashup-author">
                    <h3></h3>
                </div>
            </label>
            <label for="poem-body">
                <div id="mashup-text">
                    Enter a value in the line count field to the right to create a new poem!
                </div>
            </label>
        </div>
        <div class="col-4">
            <!-- button for generating new mashup -->
            <button type="submit" class="btn btn-outline-secondary" id="mashup-poem">New Mashup</button><br><br>

            <!-- required input -->
            <div><label for="line-count-user-input">Line Count: (required) </label></div><input type="number" id="linecount-input-mashup" size="3" name="linecount" min="1" max="200" placeholder="14"><br><br>

            <!-- button to save mashup -->
            <button type="submit" class="btn btn-outline-secondary" id="save-mashup">Save Mashup</button><br><br>
        </div>
</div>

<footer class="footer">
    <span>Powered by <a href="https://poetrydb.org/index.html">PoetryDB</a>.</span>
</footer>

<script src='static/mashups.js'></script>

{% endblock %}