{% extends 'base.html' %}

{% block title %}Poems{% endblock %}

{% block body %}
<div class="container">
    <br><div class="row">
        <div id="poem-title">
            <h1>Title</h1>
        </div>
    </div>
    <div class="row">
        <div id="poem-author">
            <h2>by Author</h2>
        </div>
    </div>
    <div class="row">
        <div id="poem-text">
        This is where the poem will go.
        </div>
    </div><br>
    <div class="row">
        <textarea id="comments" name="comments" rows="6" cols="20">Add your comments here...</textarea>
    </div>
</div>


{% endblock %}