{% extends 'base.html' %}

{% block title %}Prompts{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Poetry Prompts</h1>
    </div>
    <div class="row">
        <div class="col-10" id="prompt-hole">
        This is where the prompt will go.
        </div>
        <div class="col-2">
            <div class="col-2">
                <button type="button" class="btn btn-outline-secondary" id="prompt-btn">New Prompt</button>
            </div>
        </div>
    </div>
</div>

<script src="static/prompts.js">
</script>

{% endblock %}