{% extends 'base.html' %}

{% block title %}Prompts{% endblock %}

{% block body %}
<div class="container">
    <div class="row page-header">
        <h1>Poetry Prompts</h1>
    </div>
    <div class="row d-flex flex-row page-header justify-content-between align-items-center">
        <div class="col-6 col-8-md flex-grow-1" id="prompt-hole"><strong>
        This is where the prompt will go.
        </strong></div>
        <div class="flex-shrink-1 col-auto justify-content-center">
            <button type="button" class="btn btn-outline-secondary" id="prompt-btn">New Prompt</button>
            <button type="button" class="btn btn-outline-secondary" id="save-prompt">Save Prompt and Notes</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12">
        <br>
        <label for="text-box-for-prompt-response">Use the space below to respond.</label>
        <textarea class="form-control" id="prompt-response" name="prompt-response" rows="20"></textarea>
    </div>
</div>

<script src="static/prompts.js">
</script>

{% endblock %}