{% extends 'base.html' %} {% block head %}

<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{% endblock head %} {% block body %}

<div class="container" id="public-responses-header">
    <h1>User Prompt Responses</h1>
</div>
<div id="display-responses" class="container"></div>

<script src="/static/publicprompts.jsx" type="text/jsx"></script>
{% endblock %}