{% extends 'base.html' %}

{% block title %}{{ title }} by {{author}} -- {{ username}}{% endblock %}

{% block body %}
<div class="container">
    <br><div class="row">
        <div class="col-9">
            <h1 id="saved-poem-title">{{ title }}</h1>
            <div id="saved-poem-author">
                <h3>by {{author }} </h3>
            </div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary" id="update-comments">Save and Update Comments</button>
        </div>
    </div>

    <div class="row">
        <div class="col-8 col-4-md" id="saved-poem-text">
            {% for line in lines %}
            <div>{{ line }}</div>
            {% endfor %}
        </div>
        <div class="col-4 col-8-md">
            <br><label for="text-box-for-updating-comments">Use the space below to update any notes or comments you left.</label>
            <textarea class="form-control" id="updating-comments" name="updating-comments" rows="20" >{{ user_text }}</textarea>
        </div>
    </div>
</div>

<footer class="footer">
    <span>Powered by <a href="https://poetrydb.org/index.html">PoetryDB</a>.</span>
</footer>

<script src='static/savedpoem.js'></script>

{% endblock %}