{% extends 'base.html' %} {% block head %}

<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{% endblock head %} {% block body %}


<div id="username" class="container"></div>



<div class="container">
    <div class="row" id="bk-poems-header">
        <h3>Bookmarked Poems</h3>
        <div id="saved_poems" class="accordion"></div>
    </div>
</div>





<div class="container">
    <div class="row" id="saved-prompts-header">
        <h3>Saved Prompts</h3>
    </div>
</div>

<div id="saved_prompts" class="container"></div>



<div class="container">
    <div class="row" id="saved-mashups-header">
        <h3>Saved Mashups</h3>
    </div>
</div>

<div id="saved_mashups" class="container"></div>



<script src="/static/userprofile.jsx" type="text/jsx"></script>
{% endblock %}